<div class="container">
  <div class="title">Article title</div>
  <div>
    <span class="category">Category 1</span>
    |
    <span class="category">Category 2</span>
    |
    <span class="category">Category 3</span>
  </div>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec
    mauris pharetra, ultricies enim quis, molestie nulla. In eget porta arcu,
    quis dignissim metus. Vestibulum pretium, dolor non sagittis semper, justo
    augue dignissim risus, at dapibus odio nibh vitae lectus. Proin volutpat dui
    sed sagittis scelerisque. In massa mi, egestas nec gravida vel, laoreet sit
    amet justo. Donec vehicula nisi quam, ut lobortis velit aliquet eu. Cras
    interdum sem molestie consequat ornare. Mauris laoreet blandit posuere. Sed
    pulvinar egestas neque at tempus. Praesent iaculis ultrices lectus, id
    dictum velit malesuada eu. Aliquam eu dui neque. Pellentesque est diam,
    porttitor vel pharetra suscipit, sagittis eget felis.
  </div>
  <div>
    In molestie suscipit leo, in fermentum orci. Maecenas aliquam justo nunc, at
    porta sem hendrerit ut. Vestibulum ante ipsum primis in faucibus orci luctus
    et ultrices posuere cubilia curae; Nulla blandit congue elit, quis luctus
    lectus blandit sed. Aliquam elit est, consequat in lobortis sed, molestie
    sit amet ipsum. Curabitur tempor leo ex, vel vulputate sapien suscipit non.
    Praesent et massa at purus convallis aliquet vel ac felis. Ut gravida porta
    consequat. Suspendisse sem massa, pretium id commodo et, lacinia vitae
    metus. Duis volutpat erat nec venenatis imperdiet.
  </div>
  <div>
    Sed sagittis ante eu massa vehicula efficitur. Aliquam sapien est, pulvinar
    eget sodales sed, convallis a dolor. In justo est, dictum a efficitur nec,
    suscipit sed nibh. Maecenas nibh metus, sagittis a auctor a, venenatis et
    tortor. Quisque in euismod tortor, non convallis est. Aenean commodo urna a
    dolor tristique ullamcorper. Sed pretium mauris et velit sodales facilisis.
    Etiam nec placerat augue.
  </div>
  <div>
    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
    inceptos himenaeos. Ut sagittis eu nibh ut mattis. Sed et facilisis est.
    Curabitur a neque lorem. Mauris ac purus condimentum, aliquam risus eget,
    consectetur erat. Sed dui orci, rhoncus ut malesuada in, volutpat vitae
    orci. Phasellus mollis ex dapibus, pretium urna sed, porta velit. Duis
    venenatis ultricies felis quis congue. Ut imperdiet vulputate semper. Proin
    accumsan lacus consequat neque efficitur, a dignissim magna sodales.
  </div>
  <div>
    Aliquam erat volutpat. Ut quis ullamcorper nunc. Praesent ut semper odio.
    Integer vitae eros nec urna iaculis maximus ac vel mauris. Phasellus ornare
    ipsum neque, id ultricies felis hendrerit in. Mauris lectus turpis,
    facilisis id lobortis laoreet, hendrerit ac erat. Nullam sagittis enim id
    arcu viverra, ut maximus augue molestie.
  </div>
</div>
